@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;

    font-family: "Alexandria", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
body {
    overflow-x: hidden;
}
section {
    width: auto;
    height: 100vh;
    background: url(css/back2.png)no-repeat;
    background-position: center;
    background-size: cover;
}
.box {
display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    flex-direction: column;
    
   
 
}
.user-info {
    backdrop-filter: blur(60px);
    padding: 30px;
    color: white;
    border-radius: 8px;
}
.user-info input {
   display: block; 
    width: 95%; 
    box-sizing: border-box;
    padding: 5px;
    border-radius: 8px;
    outline: none;
    border: none;
    direction: rtl;
}
.user-info label {
    padding: 10px;
    color: white;
}
.user-info h1 {
    margin: 30px;
}
.user-info a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 10px;
    border-radius: 8px;
    width: 30%;
    position: relative;
    left: 30%;
}